* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #000
}

a:hover {
  background-color: rgb(149, 213, 253);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header {
  padding: 3rem 0 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

header li {
  list-style-type: none;
}

label {
 display: block;
 font-size: 1.3rem;
 margin-left: 1rem;
 font-weight: 600;
}

input, select, textarea {
  padding: 9px;
  font-size: 1.5rem;
  margin: 1rem;
  width: 30rem;
  border: 1px solid #000;
  border-radius: 5px;
}


/* General */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content-section{
  padding: 7rem 0 5rem 0;
  text-align: center;
}

.form-section{
  margin: 4rem 0;
}

.sub-heading {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.sub-paragraph {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.primary-btn {
  width: 30rem;
  margin-top: 3rem;
  font-size: 1.6rem;
  padding: 11px;
  font-weight: bold;
  border: none;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
}

.primary-btn:hover {
  background-color: rgb(149, 213, 253);
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.back-btn-section {
  text-align: left;
  padding-bottom: 3rem;
}

.back-btn {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.back-btn:hover {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #000;
  color: #000;
}


/* Header */
.app-title {
  font-size: 2.2rem;
  font-weight: bold;
}

a.app-title:hover {
  background-color: transparent;
  box-shadow: none;
}

.header-sub-menu {
  display: flex;
}

.icon{
  margin-right: 7px;
}

.headerLink {
  padding: 5px 1.5rem;
  border: 1px solid #000;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 1.3rem;
}


/* Home Page */
.btn-section {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-section a{
  display: inline-block;
  padding: 7px;
  font-size: 1.6rem;
  font-weight: bold;
  width: 35rem;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 1.5rem 0;
}


/* Create-New-Ticket Page */
.create-new-ticket {
  max-width: 32rem;
  text-align: left;
  margin: 0 auto;
}

.create-new-ticket-input{
  margin-top: 2px;
  border: none;
  background-color: rgb(194, 231, 253);
  color: #000;
}

select, textarea {
  margin-top: 2px;
}


/* Tickets Page */
.ticket-heading-table{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 0;
  background-color: rgb(235, 235, 235);
  padding: 1.2rem 0;
  border-radius: 5px;
}


/* Ticket-Item Component */
.ticket-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.6rem;
  padding: 1.2rem;
  text-align: center;
}

.view-btn, .status-new, .status-closed {
  width: 15rem;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 2px 0;
}

.view-btn:hover {
  background-color: #000;
  color: #fff;
  box-shadow: none;
}

.status-new{
  background-color:  rgb(107, 195, 247);
  border: none;
  color: #fff;
}

.status-closed{
  background-color: rgb(245, 71, 71);
  border: none;
  color: #fff;
}


/* Ticket Page */
.ticket-page{
  padding: 7rem 0 5rem 0;
}

.ticket-id {
  display: flex;
  justify-content: space-between;
}

.ticket-page h2 {
  font-size: 2.1rem;
  padding: 1rem 0;
}

.ticket-page h3 {
  font-size: 1.7rem;
  padding: 1rem 0;
}

.ticket-page p {
  font-size: 1.5rem;
}

.status-new.right{
  border: none;
  margin: 0;
  text-align: center;
}

.status-closed.right{
  border: none;
  margin: 0;
  text-align: center;
}

.discription-issue {
  background-color: rgb(235, 235, 235);
  padding: 2rem;
  margin: 1.5rem 0;
  border-radius: 5px;
}

.add-note-btn {
  padding: 5px;
}

.close-ticket-btn {
  padding: 10px 15px;
  background-color: rgb(245, 71, 71);
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 5px;
  width: 100%;
  margin-top: 3rem;
  cursor: pointer;
}

.close-ticket-btn:hover {
  background-color: #000;
}


/* Note-Item Component */
.note-item {
  border: 1px solid rgb(235, 235, 235);
  margin: 1.5rem 0;
  padding: 1rem;
}

.note-item h4{
  font-size: 1.6rem;
}

.note-item p{
  font-size: 1.5rem;
  padding: 1rem 0;
}

.note-item h5{
  font-size: 1.4rem;
}


/* Modal */
.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-header h2{
  font-size: 1.8rem;
}

.modal-textarea {
  width: 100%;
  margin: 1.5rem 0;
}

.modal-submit {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.close-btn {
  background: none;
  border: none;
  font-weight: bold;
}



/* Spinner */
.loadingSpinnerContainer{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.1);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner{
  width: 6.4rem;
  height: 6.4rem;
  border: 1rem solid;
  border-color: rgb(107, 195, 247) transparent rgb(107, 195, 247) transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform : rotate(0deg)
  }
  100% {
    transform: rotate(360deg);
  }
}